<mat-list role="list">
    <a mat-list-item routerLink="/admin" role="listitem">Dashboard</a>
    <a mat-list-item routerLink="customers" role="listitem">Customers</a>
    <a mat-list-item routerLink="products" role="listitem">Products</a>
    <a mat-list-item routerLink="orders" role="listitem">Orders</a>
    <a mat-list-item routerLink="authorize-menu" role="listitem">Authorize menü</a>
    <a mat-list-item routerLink="roles" role="listitem">Roles</a>
    <a mat-list-item routerLink="users" role="listitem">Users</a>

    <a mat-list-item routerLink="" role="listitem">Siteyi Gör</a>

  </mat-list>
  